* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Mulish,
        Helvetica,
        Arial,
        sans-serif;
}

li {
    list-style: none;
}

.chat-bot {
    position: fixed;
    right: 44px;
    bottom: 12px;
    width: 84px;
    height: 84px;
    z-index: 900;
    cursor: pointer;
}