footer {
    color: #eee;
    background: #1c0d04;
    padding: 7%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-logo {
    height: 76px;
    margin-top: 19px;
    max-width: 100%;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h3 {
    margin-bottom: 2%;
}

.footer-list {
    font-size: 14px;
    padding: 2% 0;
}

.footer-list:hover {
    cursor: pointer;
    color: #ff783c;
    transition: all .3s;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.contact-us {
    margin-top: 5px;
}

.contact {
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 17px;
}

.contact-info:hover {
    color: #ff783c;
    transition: all .3s;
}